.rmp-rating{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rmp-rating a{
  background-color: #fff;
  border: 3px solid;
  border-width:1px;  
  border-style:ridge;
  border-radius: .35rem;
  padding: 8px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.rmp-rating a:hover{
background-color:lightblue;
}

.rmp-no-rating{
    padding-top: 10px;
    padding-bottom: 10x;
    font-style: italic;  
}

.rmp-no-rating b{
    font-style: normal;
}

