.rmp-rating{
    padding-top: 15px;
    padding-bottom: 15px;
}

.rmp-no-rating{
    padding-top: 15px;
    padding-bottom: 15x;
    font-style: italic;  
}

.rmp-no-rating b{
    font-style: normal;
}