.rmp-rating{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rmp-no-rating{
    padding-top: 10px;
    padding-bottom: 10x;
    font-style: italic;  
}

.rmp-no-rating b{
    font-style: normal;
}